/* Стилизация кнопки */
.grid {
    display: flex;
    width: 75%;
    margin: 10vh auto 0;
    min-height: 40vh;
    align-items: flex-start;
}

.grid__title {
    flex-basis: 25%;
}

.grid__content {
    flex-basis: 75%;
}

.group {
    display: flex;
    justify-content: space-between;
}

.group__title {
    flex-basis: 8rem;
    text-transform: uppercase;
    color: #ACB5BD;
    color: var(--grey-3, #ACB5BD);
}

.group__button {
    color: #ffffff;
    color: var(--white, #ffffff);
    width: 189px;
    height: 48px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    background-color: #4263EB;
    cursor: pointer;
    font-size: 16px;
    margin: 0rem 0.5rem 0.5rem 0rem;
    transition:
        background-color 200ms ease-in-out,
        border-color 200ms ease-in-out;
}

.group__button_primary {
    background-color: #4263EB;
}

.group__button_secondary {
    background-color: #7048E8;
    background-color: var(--secondary, #7048E8);
}

.group__button_alternate {
    border-style: solid;
    border-width: 1px;
    border-color: #ACB5BD;
    border-color: var(--grey-3, #ACB5BD);
    background-color: #ffffff;
    background-color: var(--white, #ffffff);
    color: #495057;
    color: var(--grey-4, #495057);
}

.group__button_primary:focus,
.group__button_primary:hover,
.group__button_primary:active {
    background-color: #374FC7;
    background-color: var(--blue, #374FC7);
}

.group__button_secondary:focus,
.group__button_secondary:hover,
.group__button_secondary:active {
    background-color: #5028C6;
}

.group__button_alternate:focus,
.group__button_alternate:hover,
.group__button_alternate:active {
    border-color: #212429;
}

.group__button_primary[disabled],
.group__button_secondary[disabled] {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}

.group__button_alternate[disabled] {
    border-color: #ACB5BD;
    color: #ACB5BD;
    pointer-events: none;
    cursor: default;
}
