.card {
    flex-basis: 164px;
    width: calc(50% - 32px);
    background-color: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 0px 8px 23px;
    color: var(--black);
}

.card__header {
    order: 1;
    margin-top: auto;
    text-align: center;
    position: relative;
    width: 100%;
    padding-top: 12px;
    border-top: 1px solid #DDE2E5;
}

.card__title {
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__subtitle {
    display: none;
    color: #495057;
}

.card__body {
    margin: auto;
    flex-grow: 1;
}

@media (min-width: 480px) {
    .card {
        flex-basis: 350px;
        width: calc(33.33% - 30px);
        border-radius: 12px;
        padding: 32px 25px;
        margin: 0px 15px 30px;
    }

    .card__header {
        border-top: none;
        padding-top: 0;
    }

    .card__title {
        font-size: 20px;
        margin: 25px 0 6px;
    }

    .card__subtitle {
        display: block;
    }

    .card__body {
        border-bottom: none;
    }
}