.card {
    flex-basis: 350px;
    width: calc(33.33% - 30px);
    height: 367px;
    background-color: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    padding: 40px 30px 30px;
    margin: 0px 15px;
}

.card__title {
    text-align: center;
    order: 1;
}

.cards__body {
    margin: auto;
}
