:root {
    --header-height: 237px;
    --footer-height: 120px;
}

.page {
    display: flex;
    flex-direction: column;
}

.page__margins {
    margin: 0 8rem;
}

.page__logo {
    line-height: var(--header-height);
    white-space: nowrap;
}

.page__header {
    height: var(--header-height);
}

.page__main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.page__section_grey {
    background-color: #F8F9FA;
    background-color: var(--grey-1, #F8F9FA);
    padding-top: 68px;
    padding-bottom: 174px;
}

.page__section_white {
    padding-top: 71px;
    padding-bottom: 136px;
}

.page__footer {
    background-color: #F8F9FA;
    background-color: var(--grey-1, #F8F9FA);
    min-height: var(--footer-height);
}

.page__footer_text {
    text-align: center;
    text-transform: uppercase;
    color: #ACB5BD;
    color: var(--grey-3, #ACB5BD);
    line-height: var(--footer-height);
}
