.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
}

.cards__item {
    flex-basis: 330px;
    width: calc(33% - 20px);
    height: 367px;
    background-color: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 40px 30px 30px;
    box-sizing: border-box;
}

.cards__image {
    margin-top: auto;
    margin-bottom: auto;
}

.cards__title {
    text-align: center;
    order: 1;
}

.cards__body {
    flex-grow: 1;
}
