.skeleton {
    width: 579px;
    max-width: 100%;
    height: 192px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.skeleton__header {
    display: flex;
}

.skeleton__image {
    width: 64px;
    height: 64px;
    background-color: var(--grey-2);
    border-radius: 50%;
    margin-right: 16px;
}

.skeleton__content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.skeleton__content_header {
    justify-content: center;
}

.skeleton__content_body {
    justify-content: flex-end;    
}

.skeleton__text {
    height: 20px;
    background: linear-gradient(92.51deg, var(--grey-2,#DDE2E5) 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, var(--grey-2, #DDE2E5) 102.52%);
    margin-bottom: 8px;
}

.skeleton__text:last-child {
    margin-bottom: 0;
}

.skeleton__text_title {
    width: 172px;
}

.skeleton__text_subtitle {
    width: 257px;
}

.skeleton__text_regular {
    width: 100%;
}
