.about__title, .about__text {
    text-align: center;
}

.about__text {
    max-width: 640px;
    line-height: 24px;
    margin: 24px auto 0;
}

@media (min-width: 768px) {
    .about__text {
        margin-top: 32px;
    }
}
